<p>brands works!</p>

<html>
<head>
    <link rel="stylesheet" href="brands.component.css" type="text/css" />
</head>

<body>
    <table id="table">
        <tr>
            <td colspan="2">
                <div class="header">Brand Cards</div>
            </td>
            
        </tr>
        <tr>
            <td colspan="4">
            </td>
        </tr>
        <tr>
            <td>
                <div class="div1">
                    <img src="../../../assets/images/Amazon.png" style="width: 100%;"  />
                    <p>Amazon</p>
                    <button class="btn btn1">Amazon</button>
                    <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                <img src="../../../assets/images/lakme.png" style="width: 100%;" />
                <p>lakme</p>
                <button  class="btn btn2">lakme</button>
                <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                <img src="../../../assets/images/Dominos.jpg" style="width: 100%;" />
                <p>Domino's</p>
                <button class="btn btn3">Domino's</button>
                <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                <img src="../../../assets/images/klayandiamond_1.png" style="width: 100%;" />
                <p>Kalyan</p>
                <button class="btn btn4">Kalyan</button>
                <br /><br />
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="div1">
                    <img src="../../../assets/images/fstcry.jpg" style="width: 100%;" />
                    <p>First Cry</p>
                    <button class="btn btn1">First Cry</button>
                    <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                <img src="../../../assets/images/Jio.png" style="width: 50%;" />
                <p>JIO</p>
                <button class="btn btn2">JIO</button>
                <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                <img src="../../../assets/images/kfc.jpg" style="width: 50%;" />
                <p>KFC</p>
                <button class="btn btn3">KFC</button>
                <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                <img src="../../../assets/images/lifeStyle.png" style="width: 50%;" />
                <p>LifeStyle</p>
                <button class="btn btn4">LifeStyle</button>
                <br /><br />
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="div1">
                    <img src="../../../assets/images/Tanishq.png" style="width: 50%;" />
                    <p>Tanishq</p>
                    <button class="btn btn1">Tanishq</button>
                    <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                <img src="../../../assets/images/pvr.jpg" style="width: 50%;" />
                <p>Moviee Time!</p>
                <button class="btn btn2">PVR</button>
                <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                <img src="../../../assets/images/yatra.jpg" style="width: 50%;" />
                <p>Travel with Fun!</p>
                <button class="btn btn3">Yatra</button>
                <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                <img src="../../../assets/images/levis.png" style="width: 50%;" />
                <p>Royal with Levis</p>
                <button class="btn btn4">Levis</button>
                <br /><br />
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
       
    </table>
</body>

</html>


